@font-face {
  font-family: "Nunito";
  src: url("./fonts/nunito-variablefont_wght-webfont.woff2") format("woff2"),
    url("./fonts/nunito-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --bg: #1c2024;
  --sptgreen: #1db854;
  --white: #f5f5f5;
  --black: #21272c;
  --iner-shadow: inset -5px -5px 10px rgba(57, 62, 68, 0.75),
    inset 5px 5px 10px rgb(16, 19, 22);
  --sunken: -8px -8px 30px rgba(57, 62, 68, 0.75), 8px 8px 30px rgb(16, 19, 22),
    inset -8px -8px 20px rgba(57, 62, 68, 0.75),
    inset 8px 8px 20px rgb(16, 19, 22);
  --relief: -5px -5px 35px rgba(57, 62, 68, 0.75), 5px 5px 60px rgb(16, 19, 22);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: var(--bg);
}
ul {
  list-style-type: none;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
  width: 100%;
  height: 100%;
}
.active {
  color: var(--sptgreen);
}
.nav-item {
  width: 50px;
  box-shadow: -5px -5px 10px rgba(57, 62, 68, 0.75),
    5px 5px 10px rgb(16, 19, 22), inset -5px -5px 10px rgba(57, 62, 68, 0.75);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: color 0.25s ease-in-out;
}
.bottom-nav {
  box-shadow: var(--iner-shadow);
  background-color: var(--black);
  width: 100%;
  height: 75px;

  position: fixed;
  bottom: 0px;
  border-radius: 20px 20px 0px 0px;
}
