@font-face {
  font-family: "Nunito";
  src: url("./fonts/nunito-variablefont_wght-webfont.woff2") format("woff2"),
    url("./fonts/nunito-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg: #1c2024;
  --sptgreen: #1db854;
  --white: #f5f5f5;
  --black: #21272c;
  --gbd: rgb(0, 190, 70);
  --dark: rgb(28, 34, 39);
  --inner-shadow: inset -5px -5px 10px rgba(57, 62, 68, 0.75),
    inset 5px 5px 10px rgb(16, 19, 22);
  --sunken: -8px -8px 30px rgba(57, 62, 68, 0.75), 8px 8px 30px rgb(16, 19, 22),
    inset -8px -8px 20px rgba(57, 62, 68, 0.75),
    inset 8px 8px 20px rgb(16, 19, 22);
  --relief: -5px -5px 12px rgba(57, 62, 68, 0.75), 5px 5px 15px rgb(16, 19, 22);
  --gray: rgb(85, 86, 88);
  --lin-img: linear-gradient(180deg, #53585c85 20%, #1a1d20 75%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: var(--bg);
  background-image: var(--lin-img);

}
*::-webkit-scrollbar{
  display: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
.title {
  font-weight: bolder;
}

/* Navbar */
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
  width: 100%;
  height: 100%;
}

.active {
  color: var(--sptgreen);
}

.nav-item {
  width: 50px;
  border: 2px solid var(--dark);
  box-shadow: -5px -5px 10px rgba(57, 62, 68, 0.75),
    5px 5px 10px rgb(16, 19, 22), inset -5px -5px 10px rgba(57, 62, 68, 0.75);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: color 0.25s ease-in-out;
}

.bottom-nav {
  background-color: var(--black);
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0px;
  z-index: 5;
}

/* Navbar */
.now-playing {
  width: 100%;
  height: 75px;
  border-top: 2px solid #1b2022;
  border-bottom: 2px solid #1b2022;
  z-index: 5;
  position: absolute;
  bottom: 75px;
  background-color: var(--black);
  background-image: none;
  transition: all 0.5s ease-in-out;
}

.now-playing .track-length {
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: #14171a;
  top: 0px;
  overflow: hidden;
}

.now-playing .track-length .tracker {
  width: 75%;
  height: 100%;
  background-color: var(--sptgreen);
}

.now-playing .timing {
  color: var(--white);
  display: none;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  top: 60%;
  font-size: 13px;
}

.now-playing .album {
  box-shadow: -10px -10px 35px #393e44bf, 10px 10px 25px #101316,
    inset 0px 0px 15px #393e44bf, inset 2px 1px 20px #101316;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 10px;
  border-radius: 20px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-art {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: inherit;
  transition: all 0.5s ease-in-out;
}

.now-playing .controls {
  height: 100%;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  gap: 20px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.now-playing .track-info {
  color: var(--white);
  height: 100%;
  position: absolute;
  left: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 13px;
  /* transition: all 0.5s ease-in-out; */
} 
.track-info .artist {
  font-weight: lighter;
}

.now-playing.fscreen .track-info .title {
  font-weight: bolder;
  font-size: 20px;
}
.now-playing.fscreen .track-info .artist {
  font-size: 13px;
  font-weight: lighter;
}
.controller {
  box-shadow: -2px -2px 10px #7a7d8159, 5px 5px 10px #101316,
    inset -5px -5px 10px #eaf5f514, inset 5px 5px 10px #0a0c0c59;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--sptgreen);
  border: 2px solid var(--gbd);
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}
.subcontroller2 {
  box-shadow: -2px -2px 4px #7a7d8159, 5px 5px 10px #101316,
    inset -5px -5px 10px #eaf5f514, inset 5px 5px 10px #0a0c0c59;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--bg);
  border: 2px solid var(--dark);
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.25s ease-in;
}
.subcontroller {
  box-shadow: -2px -2px 5px #7a7d8159, 5px 5px 10px #101316,
    inset -5px -5px 10px #eaf5f514, inset 5px 5px 10px #0a0c0c59;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg);
  border: 2px solid var(--dark);
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.75s ease-in-out;
  /* transform: translateX(-150%); */
}

.now-playing .controls .subcontroller,
.now-playing .controls .subcontroller2 {
  display: none;
}
button:disabled svg {
  fill: rgb(96 96 96);
}
.now-playing.fscreen {
  height: 100vh;
  z-index: 6;
  bottom: 0px;
  background-image: var(--lin-img);
}

.now-playing .view-controls {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0px;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.now-playing.fscreen .view-controls {
  display: flex;
}

.view-controls .viewcontrol {
  margin: 0px 20px;
  box-shadow: -5px -5px 10px #7a7d81bf, 5px 5px 10px #101316,
    inset -5px -5px 10px #393e44bf;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--black);
  border: 2px solid var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.now-playing.fscreen .track-length {
  width: 90%;
  top: 65%;
  height: 8px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0px -3px 7px rgb(255, 255, 255, 0.18);
}

.now-playing.fscreen .album {
  box-shadow: -5px -5px 35px #d1d4d747, 10px 15px 25px #101316,
    inset 0px 0px 15px #393e44bf, inset 2px 1px 20px #101316;
  width: 220px;
  height: 220px;
  left: 50%;
  transform: translateX(-50%);
  top: 75px;
}

.now-playing.fscreen .album .cover-art {
  width: 210px;
  height: 210px;
}

.now-playing.fscreen .controls .subcontroller,
.now-playing.fscreen .controls .subcontroller2 {
  display: flex;
}
#report {
  right: 50px;
}
#like {
  left: 50px;
}
#skipfwd {
  right: 115px;
}
#skipbck {
  left: 115px;
}
.now-playing.fscreen .controls {
  width: 100%;
  height: 175px;
  right: 0px;
  bottom: 75px;
  transition: all 0.5s ease-in-out;
}

.now-playing.fscreen .track-info {
  width: 100%;
  height: 75px;
  left: 0px;
  top: 48%;
  transform: translateY(-50%);
}

.now-playing.fscreen .timing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subcontroller2.pressed svg {
  fill: var(--sptgreen);
}
.play {
  transition: all 0.2s;
  opacity: 0.75;
  display: inline-block;
  width: 10px;
  height: 1.25em;
  border-right: calc(0.45em - 2px) solid white;
  border-left: calc(0.45em - 2px) solid white;
  border-top: 0;
  border-bottom: 0;
  background-color: transparent;
  cursor: pointer;
}

.play.paused {
  width: 0;
  height: 0;
  border-right: 0;
  border-left: 1em solid white;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
}

/* Home View */
h2.greet {
  position: absolute;
  top: 35px;
  left: 30px;
}

.view {
  padding: 10px;
  width: 100%;
  height: 100vh;
  position: relative;
  color: var(--white);
  background: transparent;
}

.home {
  overflow-y: scroll;
}

.tiles {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.recents {
  width: 45%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.recent {
  box-shadow: var(--relief);
  width: 100%;
  height: 75px;
  border-radius: 20px;
  overflow: hidden;
}

.rec-img {
  width: 35%;
  height: 100%;
  object-fit: cover;
}

/* Home View */
/* Library view */
.library{
  overflow-y: scroll;

}
.wrap-cover{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 75px;
  height: 75px;
  box-shadow: -10px -10px 35px #393e44bf, 10px 10px 25px #101316,
  inset 0px 0px 15px #393e44bf, inset 2px 1px 20px #101316;
  border: 5px solid #1c1e20;
  border-radius: 10px;
  overflow: hidden;
}
.wrap-cover img{
  width: 95%;
  height: 95%;
}
.playlists{
  margin-top: 100px;
  margin-bottom: 180px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 55px;
  padding: 10px 20px;
}
 .playlist{
  width:  100%;
  height: 200px;
  background-color: #1b2126;
  box-shadow:  10px 15px 25px #101316, inset 5px 5px 30px #393e44bf, inset -5px -5px 30px #000000;
  border: 5px solid #1c1e20;
  border-radius: 20px;
  position: relative;
  
}
.text-info{
  width: calc(100% - 125px);
  position: absolute;
  right: 35px;
  padding: 15px;
  font-size: 15px;
}
.playlist .subcontroller{
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.desc{
  color: #8b8b8b;
}
.text-info h3{
  font-size: 1.5rem;
}
.data-assets{
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0px;
}
.data-assets .controller{
  left: 25px;
}
.data-assets .subcontroller:nth-child(1){
  right: 25px;
}
.data-assets .subcontroller:nth-child(2){
  right: 75px;
}
.data-assets button{
  width: 45px !important;
  height: 45px !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  display: flex !important;
}
/* Library view */